<h1>サインアップ</h1>
<p>ユーザー名</p>
<input type="text" id="user"></br>
<p>パスワード</p>
<input type="text" id="password"></br>
<p><input type="button" id="sign_up" value="登録" ><p>
<p id="login_info"></p>
<%=javascript_pack_tag 'user/sign_up'%>